@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Pacifico&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(holiday.jpg);
    background-size: cover;
    background-repeat: none;
}

header{
    background-color: rgba(255, 255, 255, 0.2);
    margin: 15vh 15vw;
    padding: 10vh 10vw;
}

h1{
    font-family: 'Pacifico';
    font-size: 30pt;
    font-weight: 400;
}

p{
    font-family: 'Open Sans Condensed';
}